@import '../variables.css';


.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  border: 1px solid var(--color-2);
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
  height: 80vh;
}


.layout-section {
  padding: 20px;
  margin: 3px;
  border: 1px solid var(--color-2);
  background-color: rgba(0, 0, 0, 0);
  box-shadow:
  0 0 5px rgba(0, 255, 0, 0.02),
  0 0 10px rgba(0, 255, 0, 0.02),
  0 0 20px rgba(0, 255, 0, 0.02),
  0 0 40px rgba(0, 255, 0, 0.08);
}
  
@media (max-width: 800px) {
    .layout {
        grid-template-columns: repeat(1, 1fr);
      }
  }