/* src/fx/TypewriterText.css */
.typewriter {
  display: inline-block;
}

.typewriter.hover:hover {
  color: black;
  background-color: var(--color-3);
}

.typewriter.ticking.faded {
  opacity: 0.5; /* Set the opacity to 50% when ticking and faded */
}
