.foot {
    max-width: 1300px;
    margin: 5px auto;
    border: 1px solid var(--color-3);
    background-color: rgba(0, 0, 0, 0);
    box-shadow:
    0 0 5px rgba(0, 255, 0, 0.02),
    0 0 10px rgba(0, 255, 0, 0.02),
    0 0 20px rgba(0, 255, 0, 0.02),
    0 0 40px rgba(0, 255, 0, 0.08);
    position: relative;
}

.icons {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

.icons svg{
    margin: 10px 20px;
    cursor: pointer;
}

