:root {
    /* font */

    /* colors */
    --color-1: #141414; /* Green */
    --color-2: #0cbe15; /* Darker green */
    --color-3: #FFFFFF; /* White */
    --color-4: #292929;

    /* buttons */
    --button-padding: 10px 2px;
    --button-margin: 10px;

    
    }


