:root {
    /* font */

    /* colors */
    --primary-color: #292929; /* Green */
    --secondary-color: #388E3C; /* Darker green */
    --text-color: #FFFFFF; /* White */

    /* buttons */
    --button-border-radius: 4px;
    --button-padding: 10px 20px;
    --button-margin: 10px;

    
    }

   
