/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body, * {
    font-size: 1.1rem;
    font-family: 'Source Code Pro', monospace;

    color: var(--color-3);
    background-color: rgba(0, 0, 0, 0);
    text-shadow:
    0 0 5px rgba(0, 255, 0, 0.2),
    0 0 10px rgba(0, 255, 0, 0.1),
    0 0 20px rgba(0, 255, 0, 0.2),
    0 0 40px rgba(0, 255, 0, 0.2),
    0 0 80px rgba(0, 255, 0, 0.3);

  }

body{
    background-color: var(--color-1);
}

button {
  margin-bottom: var(--button-margin);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: left;
}

.orange{ color: var(--color-5);}