/* /src/variables */

:root {
    /* font */

    /* colors */
    --color-1: #141414; 
    --color-2: #292929;
    --color-3: #0cbe15; 
    --color-4: #31c73838; 
    --color-5: #be530c;
    --color-6: #FFFFFF; 
    

    /* buttons */
    --button-margin: 30px;

    
    }


