/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body, * {
  font-size: 1.1rem;
  font-family: 'Source Code Pro', monospace;

  color: var(--color-3);
  background-color: rgba(0, 0, 0, 0);
  text-shadow:
  0 0 5px rgba(0, 255, 0, 0.2),
  0 0 10px rgba(0, 255, 0, 0.1),
  0 0 20px rgba(0, 255, 0, 0.2),
  0 0 40px rgba(0, 255, 0, 0.2),
  0 0 80px rgba(0, 255, 0, 0.3);
  text-decoration: none;




}

p {
  font-size: 0.9rem;
}

body {
    background-color: var(--color-1);
}

button {
  margin-bottom: var(--button-margin);
  border-width: 0;
  text-align: left;
}



body, #root {
  height: 100vh;
  margin: 0px;
  display: flex;
}

#root {
  flex-grow: 1;
  justify-content: center;
}
